{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock title %}

{% block navigation %}
{% include "layouts/navbar.html" with path='home' %}
{% endblock navigation %}

{% block main %}
<div class="container">
    <p>Register form</p>
    <form method="POST">
        {% csrf_token %}

        <label for="id_username">Username:</label><br>
        {{ form.username }}<br><br>

        <label for="id_username">Display name:</label><br>
        {{ form.display_name }}<br><br>

        <label for="id_birthday_year">Birthday year:</label><br>
        {{ form.birthday_year }}<br><br>

        <label for="id_password">Password:</label><br>
        {{ form.password }}<br><br>

        <label for="id_password_confirm">Confirm password:</label><br>
        {{ form.password_confirm }}<br><br>

        <button type="submit">Register</button>
    </form>
</div>
{% endblock main %}
