* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style.css */

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

form input:focus {
  border-color: #4a90e2;
  outline: none;
  background-color: #fff;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0; /* Trên - Tự động căn giữa - Dưới */
  padding: 12px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #357ABD;
}
